/* main elements */
html{
	background-image:url('../images/background_degBois.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center;
	background-color: rgba(0,0,0,1);
}
body,div,td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333;
}

body {
	background-color: rgba(0,0,0,0);
	text-align: center;
}
#banniere{
	width:1000px; 
	margin-right: auto;
  margin-left: auto;
}
#header {
	margin-bottom:1%;
}

#wrapper {
	margin-right: auto;
	margin-left: auto;

	/* fix max-width incompatibility in IE6 */
	width:expression(document.body.clientWidth > 800? "800px": "auto" );
	
	overflow:hidden;
	display:block;
}

/* header and footer elements */

#main {
	overflow:hidden;
	display:box;
}
.pageCorps{
	width:1000px;
	height:550px;
	overflow:auto;
	margin-left:auto;
	margin-right:auto;
	border-radius:5px 5px 5px 5px;
 	padding:10px;
 	background-color:rgba(0,0,0,0.8);
}

#menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu ul li{
	padding: 0px;
}


#menu a, #menu h2 {
	display: block;
	margin: 0;
	padding: 2px 6px;
	color:#FFFFFF;
}

#menu h2 {
	color: #fff;
	background: #648C1D;
	text-transform: uppercase;
	font-weight:bold;
	font-size: 12px;
}

#menu a {
	color: #666666;
	background: #efefef;
	text-decoration: none;
	padding: 2px 12px;
}

#menu a:hover {
	color: #648C1D;
	background: #fff;
}

#footer {
	border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top:20px;
  background:-moz-linear-gradient(top,#e9dac8,#d1b38f);
/*   box-shadow: 0px 0px 1px 2px #e9dac8; */
  height:50px;
}

#footer .new {
	float:left;
}

#footer a:link {color: #7db223;}

.quicklinks {
	clear:both; 
	padding-bottom: 15px
}
.quicklinks span {
	float: right;
}

table.navigation {
	border: 0px;
}

label {
	width:100px;
	float:left;
	margin-left: 5px;
	margin-top: 0px;
}

input {
	height:20px;
}

input, textarea, select {
	border:1px solid #B3B3B3;
}

input.image {
	border: none;
	height: auto;
	vertical-align: middle;
}

submit {
	height:25px;
}

div {
	text-align: left;
}

div .box {
	display:block;
	margin-left:105px;
}

/* menu elements*/

a.menu, a.menu:link, a.menu:visited {display:block; width:150px; height:25px;} 
	
/* text styles */

h1,h2,h3 {
	font-family: Helvetica, sans-serif;
	color: #7db223;
}

h1 {
	font-size: 20px;
	line-height: 26px;
}

h2 {
	font-size: 18px;
	line-height: 20px;
}

h3 {
	font-size: 15px;
	line-height: 21px;
	color:#555;
}

h4 {
	font-size: 14px;
	line-height: 20px;
}

.errors {
	color: red;
	font-weight: bold;
	display: block;
	margin-left: 105px;
}

a {
	text-decoration: underline;
	font-size: 12px;
}

a img {
	border: 0 none;
	vertical-align: middle;
}

tr:nth-child(odd) {
	background-color: #FFFFFF;
}

tr:nth-child(even) {
	background-color: #EFEFEF;
}

a:link {
	color: #7db223;
}

a:hover {
	color: #456314;
}

a:active {
	color: #7db223;
}

a:visited {
	color: #7db223;
}

li {
	padding-top: 5px;
	text-align: left;
}

ul li {
	margin:0 0 0.25em 0;
	padding:0;
}
/* table elements */

table {
	background: #EEEEEE;
	margin: 2px 0 0 0;
	border: 1px solid #BBBBBB;
	border-collapse: collapse;
	width: 100%
}

table table {
	margin: -5px 0;
	border: 0px solid #e0e7d3;
	width: 100%;
}

table td,table th {
  width:1000px; 
	padding: 7px;
	border: 1px solid #333;
}

table td form {
	text-align:center;
	vertical-align: middle;
	margin: 0px;
}

table th {
	font-size: 0.9em;
	text-align: left;
	font-weight: bold;
	color: #FFF;
	background: #999;
}

table thead {
	font-weight: bold;
	font-style: italic;
	background-color: #BBBBBB;
}

table a:link {color: #303030;}

.utilbox {width: 18px;}

caption {
	caption-side: top;
	width: auto;
	text-align: left;
	font-size: 12px;
	color: #848f73;
	padding-bottom: 4px;
}

fieldset {
	background: #e0e7d3;
	padding: 8px;
	padding-bottom: 22px;
	border: none;
	width: 560px;
}

fieldset label {
	width: 70px;
	float: left;
	margin-top: 1.7em;
	margin-left: 20px;
}

fieldset textfield {
	margin: 3px;
	height: 20px;
	background: #e0e7d3;
}

fieldset textarea {
	margin: 3px;
	height: 165px;
	background: #e0e7d3;
}

fieldset input {
	margin: 3px;
	height: 20px;
	background: #e0e7d3;
}

fieldset table {
	width: 100%;
}

fieldset th {
	padding-left: 25px;
}

.table-buttons {
	background-color:#fff;
	border:none;
}

.table-buttons td {
	border:none;
}

.submit input {
	border: 1px solid #BBBBBB;
	color:#777777;
	padding:2px 7px;
	font-size:11px;
	text-transform:uppercase;
	font-weight:bold;
	height:24px;
}

.updated {
	background:#ecf1e5;
	font-size:11px;
	margin-left:2px;
	border:4px solid #ecf1e5;
}

.updated td {
	padding:2px 8px;
	font-size:11px;
	color:#888888;
}

.dijitArrowButton {
	height: 20px;
}

.dijitTextArea{
	min-height:5.5em !important;
	max-height:22em !important;
	overflow-y: auto !important;
	max-width: 175px;
}

.RichTextEditable{
	min-height:18em !important;
	max-height:18em !important;
}

.flag {
	height: 11px;
	width: 16px;
}

.vignette{
	width: 15%;
	height: 50px;
	padding:10px;
	margin:15px;
	border-radius:5px;
	background-color: rgba(250,250,250,1);
}

/* /* -------------------------------------------------------------------- */ 
/* /* Preview Plugin */ */
/* /* -------------------------------------------------------------------- */ 
/* css pour la tooltip lien avec preview */
#screenshot{
  position:absolute;
  border:1px solid #ccc;
  background:#333;
  padding:5px;
  display:none;
  color:#fff;
}
/* css pour la tooltip image preview */
#preview{
  position:absolute;
  border:1px solid #ccc;
  background:#333;
  padding:5px;
  display:none;
  color:#fff;
}
/* css pour la tooltip normal */
#tooltip{
  position:absolute;
  border:1px solid #333;
  background:#f7f5d1;
  padding:2px 5px;
  color:#333;
  display:none;
}

.screenshot{
	display:block;
  width:100%;
  height:50px;
}

/* /* -------------------------------------------------------------------- */ 
/* /* Menu css  */ 
/* /* -------------------------------------------------------------------- */ 

#menuWrapper {
	border-top-left-radius: 5px;
  border-top-right-radius: 5px;
	margin-top:20px;
  background:-moz-linear-gradient(top,#d1b38f,#e9dac8);
/*   box-shadow: 0px 0px 3px 2px #d1b38f; */
  height:50px;
}

#menuContainer{
  width:1000px;
  margin-left:auto;
  margin-right:auto;
}

.jMenu {
    margin: auto;
    padding: 0;
}
.ongletMenu{
	   margin-right:20px;
}

/* First level */
.jMenu li {
    height:30px;
    padding:5px;
    margin:1px;
    margin-top:5px;
    border-radius:5px;
    background-color: transparent; /*#d1b38f*/
    display: block;
    float: left;
}
.jMenu li:HOVER{
	  box-shadow: 2px 2px 3px -2px #361102;
}

.jMenu li a {
    padding: 10px;
    display: block;
    background-color: transparent;
    text-decoration:none;
    color: #361102;
    cursor: pointer;
    font-size: 12px;
}

/* Lower levels */
.jMenu li ul {
    display: none;
    position: absolute;
    z-index:9999;
    padding: 0;
    margin: 0;
}

.jMenu li ul li {
    background-color: #d1b38f;
    display: block;
    padding: 0;
}

.jMenu li ul li.arrow {
	  border-radius:5px;
    background-color:  #e9dac8;
    background-image: url('../images/arrow_down.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 6px;
    padding: 0;
    border-bottom: none;
    padding-bottom: 10px;
}

.jMenu li ul li a {
    font-size: 11px;
    text-transform: none;
    padding: 7px;
    display: block;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.jMenu li ul li a.isParent {
	  border-radius:5px;
    background-color: #d1b38f;
    background-image: url('../images/arrow_right.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.jMenu li ul li a:hover {
    background-color: #e9dac8;
}

.initial{
	  display:inline-block;
	  margin:40px;
	  padding:10px;
	  width: 400px;
    height: 200px;
    background-color: #d1b38f;
    border-radius:5px;
}
.final {
	  margin:40px;
	  padding:10px;
		width: 400px;
		height: 400px;
		background-color: #e9dac8;
		border-radius:5px;
}

